.chat{
    display: flex;
    position: fixed;
    width: 15%;
    right: 0px;
    min-height: 86%;
    bottom: 0px;
    border-left: 1px solid rgb(231, 111, 111);
    border-radius: 5px;
    flex-direction: column;
    background-color: #ffd0d0;
    z-index: 2;
}
.chatHeader{
    text-align: center;
    justify-content: center;
    background-color: #440000;
    border: 1px solid #2c0000;
    color: #ffb7b7;
    z-index: 2;
}
.userBox{
    display: flex;
    margin: 10px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: #440000;
    z-index: 2;
}

.chatBox{
    width: 200px;
    height: 250px;
    position: fixed;
    bottom: 0px;
    right: 16%;
    background-color: #ffd0d0;
    border: 1px solid black;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    z-index: 2;
}
