.serviceContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.serviceContainer div{
    background-color: rgb(129, 129, 129);
    width: 210px;
    height: 210px;
    text-align: center;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 5px;
}
.serviceContainer img{
    margin-top: 10px;
}
.main {
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    width: 85%;
  }