.navbar{
    background-color: #FF8E8E;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: end;
    position: fixed;
    z-index: 2;

}
.navPhoto{
    background-color: white;
    width: 20px;
    height: 20px;
  }