.navbar{
    background-color: #FF8E8E;
    color: white;
    width: 100%;
    height: 12vh;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

}
.navPhoto{
    background-color: white;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
  }
  .navComponents{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
  }
  .navComponents input{
    margin-left: 20px;
  }
  .searchButton{
    background-color: #d85151;
    border: 1px solid #c43c3c;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    outline:none;
    color: #521010;
  }
  .searchButton::placeholder{
    color: #521010;
  }
  .searchButton:focus{
    background-color: #b63c3c;
    color: #521010;
  }
  .menu{
    position: fixed;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
    background-color: #521010;
    padding: 20px;
    top: 10%;
    right: 1%;
    color: #f89292;
  }
  #linkbtn{
    color: #521010;
  }
  .notification{
    position: absolute;
    top: 83%;
    left: 70%;
    width: 27%;
    height: 46vh;
    display: flex;
    background-color: rgb(53, 44, 44);
    display: flex;
    flex-direction: column;
  }
  .notificationContainer{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    overflow-y: auto;
  }
  .notificationItens{
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 40%;
    margin-bottom: 10%;
    background-color: rgb(24, 76, 122);
    display: grid;
    grid-template-columns: 30% 69%;
    gap: 1%;
    align-items: center;
  }
  .photoSolicit{
    width: 50px;
    height: 50px;
    background-color: #521010;
    border-radius: 50%;
    margin:10px;
  }
  .photoSolicit img{
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
  .aceptAndinfos{

  }
  .notification h3{
    margin-left: 5%;
  }